.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin: 1rem;
}

.div {
  display: grid;
  justify-items: center;
}

.newsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin: 1rem;
  border: 1px solid white;
  list-style: none;
}

.newsCards {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-content: center;
  grid-gap: 1rem;
  margin: 1rem;
  border: 5px solid white;
  border-radius: 5px;
  list-style: none;
}

.newsCards img {
  width: 100%;
}
